
client/src/assets/asian_paints.png
client/src/assets/hdfc.png
client/src/assets/infosys.png
client/src/assets/kotak.png
client/src/assets/maruti.png
client/src/assets/mobile.png
client/src/assets/penguin.png
client/src/assets/reliance.png
client/src/assets/tcs.png
client/src/assets/whirpool.png
client/src/assets/wipro.png
