.stockMarket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.stockMarket-container .market-container {
  margin-top: 7rem;
}

.stockMarket-container .market-container h2 {
  text-transform: uppercase;
  font-weight: 600;
}

.stockMarket-container .dateTime-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}

.stockMarket-container .dateTime-container .startingDate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
}

.stockMarket-container .dateTime-container .startingDate-container label {
  font-size: 1.05rem;
}

.stockMarket-container .dateTime-container .startingDate-container input {
  margin-top: 1rem;
  width: 200px;
  height: 40px;
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.stockMarket-container .dateTime-container .endingDate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem;
}

.stockMarket-container .dateTime-container .endingDate-container label {
  font-size: 1.05rem;
}

.stockMarket-container .dateTime-container .endingDate-container input {
  margin-top: 1rem;
  width: 200px;
  height: 40px;
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.stockMarket-container .market-container .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.stockMarket-container .market-container .button .search-btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: rgb(230, 149, 63);
}

/* displayed stock data */
.stockMarket-container .market-container .stockData-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  margin-top: 30px;
}

.stockMarket-container
  .market-container
  .stockData-container
  .stockList-container {
  display: grid;
  
  width: 100%;
  justify-content: center;
}

/* pagination buttons */
.stockMarket-container .paginationButtons {
  width: 80%;
  display: flex;
  justify-content: center;
  height: 30px;
  padding: 0;
  margin: auto;
  margin-top: 1rem;
  gap: 1.2rem;
  list-style: none;
  margin-bottom: 1rem;
}

.stockMarket-container .paginationButtons a {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}
